{% extends 'main/header.html' %}

{% block content %}
  {% load static %}
  <script src="{% static 'main/js/topic_tweets.js' %}"></script>
  <div class="row">
    <div class="col m6 l6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            Check Tweets for a specific topic
          </span>
          <div class="row">
            <form class="col">
              <div class="row">
                {% for index, words in scores %}
                  <p style="margin-bottom: 5px">
                    <label>
                      <input name="topic" type="radio" value="{{ index }}" id="{{ topic }}"/>
                      <span>Topic {{ index }}: {{ words }}</span>
                    </label>
                  </p>
                {% endfor %}
                <button class="btn waves-effect waves-light" type="submit">Load tweets to the selection
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% if tweets|length > 0 %}
      <div class="col m6 l6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Tweets</span>
            <div class="row" style="margin-left: auto; margin-right: auto">
              <ul>
                {% for tweet in tweets %}
                  <li>{{ tweet }}</li>
                  <br/>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
